<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/fontastic.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="page">
      <header class="header">
        <nav class="navbar">
          <div class="search-box">
            <button class="dismiss"><i class="icon-close"></i></button>
            <form id="searchForm" action="#" role="search">
              <input type="search" placeholder="What are you looking for..." class="form-control">
            </form>
          </div>
          <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
              <!-- Navbar Header-->
              <div class="navbar-header">
                <!-- Navbar Brand --><a href="index.html" class="navbar-brand d-none d-sm-inline-block">
                  <div class="brand-text d-none d-lg-inline-block"><span>河南大学资产管理系统 </span></div>
                <a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
              </div>
              <!-- Navbar Menu -->
              <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                <!-- Search-->
                <li class="nav-item d-flex align-items-center" style="margin-right: 10px;"><a id="search" href="#">查询</a></li>
                <li class="nav-item d-flex align-items-center"><a id="search" href="#">个人中心</a></li>
                <!-- Logout    -->
                <li class="nav-item"><a href="#" class="nav-link logout"> <span class="d-none d-sm-inline">退出</span><i class="fa fa-sign-out"></i></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <div class="page-content d-flex align-items-stretch"> 
        <!-- Side Navbar -->
        <nav class="side-navbar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="img/henu.jpg" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
              <h1 class="h4">河南大学</h1>
            </div>
          </div>
          <ul class="list-unstyled">
                    <li><a href="#zichanguanli" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-bar-chart"></i>资产管理</a>
                      <ul id="zichanguanli" class="collapse list-unstyled ">
                        <li><a href="#">资产信息</a></li>
                        <li><a href="#">资产添加</a></li>
                        <li><a href="#">资产审核</a></li>
                      </ul>
                    </li>
                    <li><a href="#zichanshenhe" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>资产审核</a>
                      <ul id="zichanshenhe" class="collapse list-unstyled ">
                        <li><a href="#">已审核</a></li>
                        <li><a href="#">未审核</a></li>                  
                      </ul>
                    </li>
                    <li><a href="#yonghuguanli" aria-expanded="false" data-toggle="collapse"> <i class="icon-grid"></i>用户管理</a>
                      <ul id="yonghuguanli" class="collapse list-unstyled ">
                        <li><a href="#">用户信息</a></li>
                        <li><a href="#">用户添加</a></li>
                        <li><a href="#">用户审核</a></li>
                      </ul>
                    </li>
                    <li><a href="login.html"> <i class="icon-padnote"></i>more</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- JavaScript files-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper.js/umd/popper.min.js"> </script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="js/charts-home.js"></script>
    <!-- Main File-->
    <script src="js/front.js"></script>
  </body>
</html>