<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>

    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    登录界面
    <form class="tab-form" action="login.html" method="post" autocomplete="off" id="form1">
        <div class="form-group marb20 ">
            <input name="username" id="account_l" type="text" placeholder="学号/工号" />
        </div>
        <div class="form-group marb8 ">
            <input name="password" id="password_l" type="password" placeholder="密码" />
        </div>
        <div class="error btns login-form-tips" id="jsLoginTips"></div>
         <div class="auto-box marb38">
            <a class="fr" href="forgetpwd.html">忘记密码？</a>
         </div>
         <input class="btn btn-green" id="jsLoginBtn" type="submit" value="立即登录 > " />
    </form>
</body>
</html>